.Footer {
  color: white;
  width: 99vw;
  min-height: 64px;
  bottom: 0px;
  background:#5C8D89;
  text-align: center;
}

.iconDiv {
  height: 64px;
  min-width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.iconDiv>*{
    margin: 0 20px;
    text-decoration: none;
    color: white;
}